img{
    width: 100%;
    height: auto;
}
section{

font-size: 60px;
}
.conteiner{
    display: flex;
    flex-wrap: wrap;

    background-color: rgb(255, 0, 0);
  


}
.inicio{
    text-align: center;
    font-size: 40px;
    background-color: rgb(212, 204, 231);
    width: 100%;
}
.box{
    width: 100%;
    
    
}
@media screen and (min-width:500px) {
    .um{
        width: 50%;
    }
    .dois{
        width: 50%;
    }
    .b4{
        width: 50%;
    }
    .b5{
        width: 50%;
    }
    .b8{
        width: 50%;
    }
    .b9{
        width: 50%;
    }
}
@media screen and (min-width:600px){
    
    
}